<%~
-author("asceth").
%>
<h3 class="seed-style-rose-text">About WebStatic</h3>

<p>
  <strong>Purpose</strong>
  Web Static is an example application using web_router, web_layout, web_sessions and web_pages to construct a request cycle.
</p>

